@charset "UTF-8";
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald.otf");
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald.otf");
  src: url("../fonts/oswald.bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald.otf");
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald.otf");
  src: url("../fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 1140px;
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: normal;
  margin: auto;
}

.button {
  padding: 14px 0;
  color: #222222;
  background: #fff url("../elements/button-arrows.png") no-repeat 170px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #cccccc;
}

@media (max-width: 1140px) {
  .container {
    max-width: 90%;
  }
}

header {
  padding: 0;
  margin: 0;
}

.navbar {
  max-height: 110px;
  padding: 20px 0px;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__logo_text {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 15px;
  text-align: left;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.navbar__menu-item {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 17px;
  font-weight: normal;
  margin-right: 65px;
}

.navbar__menu-item:hover {
  cursor: pointer;
  color: #888888;
}

.navbar__contacts {
  margin-top: 10px;
}

.navbar__contacts_img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.navbar__contacts_phone {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #222222;
}

.hero {
  background: url("../elements/hero-bg.png") no-repeat center;
  color: #fff;
  background-size: cover;
}

.hero-wrap {
  padding: 110px 0px 140px 0px;
}

.hero_title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero_title > span {
  color: red;
}

.hero_subtitle {
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.hero_subtitle > span {
  border-bottom: 1px solid grey;
}

.hero_description {
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.hero_offer {
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.hero-form_phone {
  width: 140px;
  padding: 15px 0px 15px 45px;
  margin-right: 15px;
  background: #222222 url("../elements/telephone-handle-silhouette копия 10.png") no-repeat 20px;
  color: #fff;
  border: 1px solid grey;
  font-family: 'Oswald';
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  outline: none;
}

.hero-form_phone:valid {
  border-color: green;
}

.hero-form_phone:invalid {
  border-color: red;
}

.hero-form_btn {
  width: 200px;
  font-family: 'Oswald';
  font-size: 15px;
  font-weight: 600;
}

.header-burger__menu_active {
  display: none;
}

.header-burger__menu {
  display: none;
}

@media (max-width: 1000px) {
  .navbar__logo {
    width: 60px;
    height: 60px;
  }
  .navbar__logo_text {
    font-size: 14px;
    margin-left: 10px;
  }
  .navbar__menu-item {
    margin-right: 20px;
    font-size: 14px;
  }
  .navbar__contacts {
    margin-top: 10px;
  }
  .navbar__contacts_img {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }
  .navbar__contacts_phone {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .header-burger__menu {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 30px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    color: #fff;
    border: none;
  }
  .header-burger__menu:focus {
    outline: none;
  }
  .header-burger__menu_line {
    margin-top: 6px;
    width: 22px;
    height: 2px;
    background-color: #222;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header-burger__menu_active {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: black;
    -webkit-transform: translateY(-160%);
            transform: translateY(-160%);
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header-burger__menu-item {
    padding: 15px;
    border-bottom: 1px solid #fff;
    font-size: 10px;
  }
  .header-burger__menu-item_link {
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: normal;
  }
  .active_burger {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .active_menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform-origin: left;
            transform-origin: left;
    margin-bottom: 8px;
  }
  .active_menu span:nth-child(2) {
    display: none;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .active_menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__contacts {
    margin-right: 50px;
  }
  .hero-wrap {
    padding: 40px 0px 50px 0px;
  }
  .hero_title {
    margin-bottom: 10px;
    font-size: 28px;
    text-transform: uppercase;
  }
  .hero_subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hero_description {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .hero_offer {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .hero-form_phone {
    width: 100px;
    padding: 7px 0px 7px 45px;
    margin-right: 10px;
  }
  .hero-form_btn {
    width: 120px;
    font-size: 14px;
    padding: 7px;
  }
}

@media (max-width: 500px) {
  .header-burger__menu {
    top: 20px;
    right: 20px;
  }
  .navbar {
    height: 40px;
  }
  .navbar__logo > img {
    width: 40px;
    height: 40px;
  }
  .navbar__logo_text {
    font-size: 10px;
    margin-left: 5px;
  }
  .navbar__contacts {
    margin-top: 0px;
  }
  .navbar__contacts_img {
    width: 12px;
    height: 12px;
    margin-top: 10px;
  }
  .navbar__contacts_phone {
    margin-top: 0;
    margin-left: 5px;
    font-size: 14px;
  }
}

.repear-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 41px;
}

.repear-item {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  background-color: #f6f6f6;
  padding: 80px 0px 80px 80px;
}

.repear-item:first-child {
  margin-right: 3%;
}

.repear-item_img {
  display: block;
  float: left;
}

.repear-item_title {
  font-family: 'Oswald';
  font-size: 27px;
  font-weight: 200;
  text-transform: uppercase;
}

.repear-item_btn {
  font-family: 'Oswald';
  font-size: 15px;
  font-weight: 600;
  width: 140px;
  background-position: 115px;
}

.features {
  text-align: center;
}

.features_title {
  font-family: 'Oswald';
  font-size: 36px;
  font-weight: 600;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-item {
  -ms-flex-preferred-size: 22.75%;
      flex-basis: 22.75%;
  background-color: #f6f6f6;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 50px 30px 30px 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item_img {
  margin-bottom: 35px;
}

.features-item_title {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 600;
  color: red;
  margin-bottom: 20px;
  padding: 0;
}

.features-item_description {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.warranty-card {
  margin-top: 40px;
  margin-bottom: 65px;
  background: url("../elements/warranty-card.png") no-repeat;
  background-size: contain;
  color: #fff;
  padding: 75px 55px 65px 55px;
  text-align: left;
}

.warranty-card_title {
  font-family: 'Oswald';
  font-size: 39px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 25px 0;
}

.warranty-card_title > span {
  color: red;
}

.warranty-card_subtitle {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.warranty-card_text {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: normal;
  width: 55%;
}

@media (max-width: 1000px) {
  .repear-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .repear-item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 30px;
  }
  .repear-item:first-child {
    margin-right: 0;
  }
  .features-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .features-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 30px;
    margin-right: 0;
    padding: 30px 15px 15px 10px;
  }
  .features-item:nth-child(odd) {
    margin-right: 3%;
  }
  .warranty-card {
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .warranty-card_title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .warranty-card_subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .warranty-card_text {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .features_title {
    font-size: 26px;
  }
  .features-item {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    margin-right: 0;
    padding: 30px 15px 15px 10px;
  }
  .features-item:nth-child(odd) {
    margin-right: 3%;
  }
  .warranty-card {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .warranty-card_title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .warranty-card_subtitle {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .warranty-card_text {
    font-size: 12px;
    width: 58%;
  }
}

@media (max-width: 500px) {
  .repear-item {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  .repear-item_img {
    float: none;
    margin: auto;
    margin-bottom: 10px;
  }
  .repear-item_title {
    font-size: 18px;
  }
  .repear-item_btn {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: 600;
    width: 140px;
    background-position: 115px;
  }
  .features_title {
    font-size: 22px;
  }
  .features-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .features-item:nth-child(odd) {
    margin-right: 0;
  }
  .warranty-card {
    width: 85%;
    padding: 20px;
    background-size: cover;
  }
  .warranty-card_title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .warranty-card_subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .warranty-card_text {
    display: none;
  }
}

.inside {
  text-align: center;
  background-color: #f6f6f6;
  padding: 45px;
}

.inside_title {
  font-family: 'Oswald';
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 50px;
}

.inside-slider {
  position: relative;
  margin: 0;
  padding: 0;
  height: 550px;
}

.inside-slider__item {
  display: block;
  margin: auto;
}

.inside-slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.inside-slider__img {
  margin-left: 15px;
  height: 100px;
}

.inside-slider__img:first-child {
  margin-left: 0px;
}

.inside-slider__img:hover {
  cursor: pointer;
  outline: 5px solid red;
  outline-offset: -5px;
}

.hide {
  display: none;
  margin: 0;
}

.active {
  outline: 5px solid #222;
  outline-offset: -5px;
}

#insideRight::before {
  display: block;
  position: absolute;
  content: "";
  width: 55px;
  height: 50px;
  right: 7%;
  top: 35%;
  background: url("../elements/back.png") no-repeat center;
  cursor: pointer;
}

#insideLeft::after {
  display: block;
  position: absolute;
  content: "";
  width: 55px;
  height: 50px;
  left: 7%;
  top: 35%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../elements/back.png") no-repeat center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  iframe {
    width: 480px;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  .inside-slider {
    height: 320px;
  }
  .inside-slider-wrap {
    display: none;
  }
}

@media (max-width: 760px) {
  .inside {
    padding: 10px 0 40px 0;
  }
  .inside_title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .inside-slider {
    height: 200px;
  }
  iframe {
    width: 95%;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  #insideRight::before {
    background-size: contain;
    width: 30px;
    height: 30px;
    right: 35%;
    top: 108%;
  }
  #insideLeft::after {
    background-size: contain;
    width: 30px;
    height: 30px;
    left: 35%;
    top: 108%;
  }
}
/*# sourceMappingURL=style.css.map */